@charset "UTF-8";
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp, pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * Known issues:
 * - `select`:
 *   By default, Chrome on OS X and Safari on OS X allow very limited styling of
 *   select, unless a border property is set. The default font weight on
 *   optgroup elements cannot safely be changed in Chrome on OSX and Safari on
 *   OS X.
 * - `[type="checkbox"]`:
 *   It is recommended that you do not style checkbox and radio inputs as
 *   Firefox's implementation does not respect box-sizing, padding, or width.
 * - `[type="number"]`:
 *   Certain font size values applied to number inputs cause the cursor style of
 *   the decrement button to change from `default` to `text`.
 * - `[type="search"]`:
 *   The search input is not fully stylable by default. In Chrome and Safari on
 *   OSX/iOS you can't control `font`, `padding`, `border`, or `background`. In
 *   Chrome and Safari on Windows you can't control `border` properly. It will
 *   apply `border-width` but will only show a border color (which cannot be
 *   controlled) for the outer 1px of that border. Applying
 *   `-webkit-appearance: textfield` addresses these issues without removing the
 *   benefits of search inputs (e.g. showing past searches). Safari (but not
 *   Chrome) will clip the cancel button on when it has padding (and `textfield`
 *   appearance).
 * - `::placeholder`:
 *   In Edge, placeholders will disappear on `relative` or `absolute` positioned
 *   `<input>` elements if you use `opacity` less than `1` due to a
 *   [bug](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/3901363/).
 */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  line-height: 1.15;
  /* 1 */
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

.a11yHidden {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
  }
}
@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes transformNone {
  to {
    transform: none;
  }
}
html {
  font-size: 16px;
  overflow-y: visible;
}

body,
body::before,
body::after,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

body * {
  -webkit-tap-highlight-color: rgba(255, 255, 200, 0.3);
  tap-highlight-color: rgba(255, 255, 200, 0.3);
}

[class] {
  margin: 0;
}

body {
  font-family: "Spoqa Han Sans", "Sans-serif";
  font-size: inherit;
  font-weight: 400;
  line-height: 1.15;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: inherit;
}

ul, ol {
  padding-left: 0;
  list-style: none;
}

img {
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

address, em {
  font-style: normal;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

legend {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

button {
  cursor: pointer;
}

.responsiveImg {
  max-width: 100%;
  height: auto;
}

.responsiveVideo,
.responsiveSvg {
  width: 100%;
  height: 100%;
}

.iframeWrapper {
  position: relative;
  width: 100%;
  height: 0 !important;
}

.iframe4-3 {
  padding-top: 75%;
}

.iframe16-9 {
  padding-top: 56.25%;
}

.iframe1-1 {
  padding-top: 100%;
}

.iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button {
  position: relative;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  border: 0;
  border-radius: 8px;
  width: 100%;
  padding: 14px 20px 11px;
}
.buttonNone {
  border: 0;
  background: transparent;
  padding: 0;
}
.buttonPrimary {
  background: #fefefe;
  color: #24388d;
}
.buttonPrimary.is--disabled {
  background: #f5f5f5;
  color: #d2c9b6;
}
.buttonPrimary.is--disabled .icon::before {
  background-image: url(../images/icon-arrow-amber.svg);
}
.buttonOutline {
  color: #f5f5f5;
  border: 1px solid #fefefe;
  background: transparent;
}
.buttonOutline.is--disabled {
  border-color: #d2c9b6;
  color: #d2c9b6;
}
.buttonOutline.is--disabled .icon::before {
  background-image: url(../images/icon-arrow-amber.svg);
}
.button .icon {
  min-width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
}

.tabUI__tabList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.tabUI__tabItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-weight: 700;
  background: #f5f5f5;
  padding: 2px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.tabUI__tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  padding: 15px 30px 11px;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 1.5;
  white-space: nowrap;
  letter-spacing: -0.02em;
  color: #24388d;
  background: #fefefe;
}
.tabUI__tab[aria-selected=true] {
  color: #fefefe;
  background: #24388d;
}

.dataTable {
  width: 100%;
  border-top: 2px solid #24388d;
  border-bottom: 2px solid #24388d;
  border-collapse: collapse;
  border-spacing: 0;
  color: #24388d;
}
.dataTable th,
.dataTable td {
  border-bottom: 1px solid #919bc6;
}
.dataTable th {
  padding: 15px 5px;
  font-size: 0.875rem;
}
.dataTable td {
  padding: 15px;
  font-size: 0.75rem;
  vertical-align: baseline;
}

.icon {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.iconNone {
  display: none;
}
.icon::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
}
.iconSearch::before {
  background-image: url(../../images/icon-search.svg);
}
.iconClose::before {
  content: "×";
}
.iconBurger::before {
  background-image: url(../images/button-navigation.svg);
}
.iconVisible::before {
  background-image: url(../images/icon-visible.svg);
}
.iconInVisible::before {
  background-image: url(../images/icon-invisible.svg);
}
.iconCheckedSquare::before {
  background-image: url(../images/icon-checked-square.svg);
}
.iconUncheckedSquare::before {
  background-image: url(../images/icon-unchecked-square.svg);
}
.iconChecked::before {
  background-image: url(../images/icon-checked.svg);
}
.iconWarning::before {
  background-image: url(../images/icon-warning.svg);
}
.iconArrowUp::before {
  background-image: url(../images/icon-arrow-up.svg);
}
.iconArrowDown::before {
  background-image: url(../images/icon-arrow-down.svg);
}
.iconArrowDarkBlue::before {
  background-image: url(../images/icon-arrow-darkblue.svg);
}
.iconArrowWhite::before {
  background-image: url(../images/icon-arrow-white.svg);
}
.iconLoading::before {
  animation: spinner 0.25s infinite;
  background-image: url(../images/icon-arrow-loading.svg);
}
.iconGoTop::before {
  background-image: url(../images/icon-go-to-top.svg);
}

.formControl .select {
  user-select: none;
  width: 100px;
  margin-right: 5px;
  border: 0;
  border-radius: 3px;
  background: transparent;
}

.formControl {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.label {
  font-size: 1.125rem;
  order: -1;
}

.input {
  -webkit-appearance: none;
  width: 100%;
  flex: 1 1 0;
  font-size: 1rem;
  border: 0;
  padding: 6px 0 2px 8px;
  border: 0;
  margin-right: 8px;
  background: transparent;
}
.input::-ms-clear, .input::-ms-reveal {
  display: none;
}

.checkbox {
  opacity: 0;
  width: 16px;
  height: 16px;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background: transparent;
  cursor: pointer;
}

.checkbox ~ .label {
  margin-top: 3px;
  margin-left: 20px;
  cursor: pointer;
}

.checkbox + .icon {
  width: 16px;
  height: 16px;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 8px;
}

.checkbox:focus + .icon {
  box-shadow: 0 0 0 4px #24388d;
}

.checkbox + .iconCheckedToggleSquare {
  background-image: url(../images/icon-unchecked-square.svg);
}

.checkbox:checked + .iconCheckedToggleSquare {
  background-image: url(../images/icon-checked-square.svg);
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 18px 16px;
  margin: 12px auto 0;
}
.pagination .svgButtonPagePrev,
.pagination .svgButtonPageNext {
  vertical-align: top;
  width: 20px;
  height: 20px;
  padding: 2px;
}
.pagination .svgButtonPagePrev svg,
.pagination .svgButtonPageNext svg {
  width: 100%;
  height: 100%;
}
.pagination .svgButtonPagePrev path,
.pagination .svgButtonPagePrev [disabled] path,
.pagination .svgButtonPageNext path,
.pagination .svgButtonPageNext [disabled] path {
  fill: #919bc6;
}
.pagination .svgButtonPagePrev:hover path, .pagination .svgButtonPagePrev:focus path,
.pagination .svgButtonPageNext:hover path,
.pagination .svgButtonPageNext:focus path {
  fill: #24388d;
}
.pagination__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: 30px;
  margin-left: 30px;
  font-size: 0.75rem;
}
.pagination__item {
  margin: 2px 5px 0;
}
.pagination [class~=_pagerNo] {
  color: #919bc6;
  padding: 0 3px;
}
.pagination [class~=_pagerNo]:hover, .pagination [class~=_pagerNo]:focus {
  color: #24388d;
}
.pagination [aria-current=page] {
  font-weight: 700;
  color: #24388d;
}

.card {
  background: #fefefe;
}
.card::after {
  content: "";
  display: block;
  clear: both;
}
@media screen and (max-width: 767px) {
  .card__thumbnail {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .card__thumbnail {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}
.card__content {
  margin: 0;
  line-height: 1.5;
}
.card__headline {
  color: #24388d;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .card__headline {
    font-size: 0.875rem;
  }
}
@media screen and (min-width: 768px) {
  .card__headline {
    font-size: 0.9375rem;
  }
}
.card__description {
  margin-top: 5px;
  margin-left: 0;
  color: #878787;
}
@media screen and (min-width: 768px) {
  .card__description {
    font-size: 0.8125rem;
  }
}

.membership {
  color: #fefefe;
}
@media screen and (min-width: 768px) {
  .membership {
    margin: 0 auto;
    width: 540px;
  }
}
.membership__title, .membership__enDescription, .membership__description {
  line-height: 1.5;
  text-align: center;
}
.membership__title {
  font-weight: 100;
  font-size: 2.25rem;
  margin: 50px 0 24px;
}
.membership__enDescription {
  font-size: 1.125rem;
}
.membership__description {
  font-size: 0.75rem;
}
@media screen and (max-width: 767px) {
  .membership__email, .membership__password, .membership__passwordConfirm {
    margin-top: 52px;
  }
}
@media screen and (min-width: 768px) {
  .membership__email, .membership__password, .membership__passwordConfirm {
    margin-top: 42px;
  }
}
.membership__email .formControl, .membership__password .formControl, .membership__passwordConfirm .formControl {
  border-bottom: 2px solid currentColor;
}
.membership__email .icon, .membership__password .icon, .membership__passwordConfirm .icon {
  top: 6px;
}
.membership .input {
  color: #fefefe;
  height: 48px;
  padding: 22px 8px 8px;
}
.membership .buttonPassword {
  margin-right: 8px;
}
.membership .errorMessage {
  display: none;
  font-size: 0.75rem;
  padding: 3px 0 3px 8px;
}
.membership__email.is--invalid .errorMessage, .membership__password.is--invalid .errorMessage, .membership__passwordConfirm.is--invalid .errorMessage {
  display: block;
}
.membership__email .input:focus + .label, .membership__email.is--valid .label, .membership__email.is--invalid .label, .membership__password .input:focus + .label, .membership__password.is--valid .label, .membership__password.is--invalid .label, .membership__passwordConfirm .input:focus + .label, .membership__passwordConfirm.is--valid .label, .membership__passwordConfirm.is--invalid .label {
  position: absolute;
  transition: all 300ms;
  font-size: 0.8125rem;
  transform: translate(8px, -16px);
}
.membership__saveEmail {
  margin-top: 15px;
}
.membership__saveEmail .label {
  font-size: 0.75rem;
}
@media screen and (max-width: 767px) {
  .membership__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-top: 133px;
  }
}
@media screen and (min-width: 768px) {
  .membership__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 70px;
  }
}
@media screen and (max-width: 767px) {
  .membership__buttons .button {
    width: 100%;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .membership__buttons .button {
    width: 260px;
  }
}

.ediya {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.ediya .main {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.ediya .footer {
  margin-top: auto;
}

.header {
  padding: 2px 0;
  background: #fefefe;
  border: 0.5px solid #f5f5f5;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 200;
}
.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
@media screen and (min-width: 768px) {
  .header__inner {
    width: 768px;
    padding-left: 14px;
    padding-right: 14px;
    margin-left: auto;
    margin-right: auto;
  }
}
.header__logo {
  width: 176px;
  height: 50px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-left: -18px;
  }
}
.header__logo a {
  padding: 18px;
}
.header__logo a, .header__logo img {
  display: block;
}
@media screen and (max-width: 767px) {
  .header .buttonBurger {
    padding: 18px;
  }
}
@media screen and (min-width: 768px) {
  .header .buttonBurger {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 150vw;
    right: -150vw;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    padding-top: 60px;
    background: rgba(11, 18, 40, 0.9);
    color: #fefefe;
    transition: right 0.4s cubic-bezier(0.79, 0.14, 0.15, 0.86), left 0.4s cubic-bezier(0.79, 0.14, 0.15, 0.86);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }
}
@media screen and (max-width: 767px) {
  .navigation.is--active {
    left: 0;
    right: 0;
  }
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 767px) {
  .navigation__item {
    border-bottom: 1px solid rgba(33, 55, 120, 0.5);
  }
}
@media screen and (min-width: 768px) {
  .navigation__item {
    margin-left: 8px;
    color: #24388d;
  }
}
.navigation__link {
  display: block;
}
@media screen and (max-width: 767px) {
  .navigation__link {
    font-size: 0.875rem;
    padding: 12px 22px;
    transition: all 0.4s ease;
  }
}
@media screen and (max-width: 767px) {
  .navigation__link:hover, .navigation__link:focus {
    background: #22437c;
  }
}
@media screen and (min-width: 768px) {
  .navigation__link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    font-size: 0.9375rem;
    padding: 8px;
  }
}
@media screen and (max-width: 767px) {
  .navigation .buttonClose {
    color: #fff;
    position: absolute;
    z-index: 10;
    top: 8px;
    right: 12px;
    padding: 10px;
    font-size: 1.5rem;
    line-height: 1;
    transition: all 0.4s ease;
  }
  .navigation .buttonClose:hover {
    transform: scale(1.2);
  }
}
@media screen and (min-width: 768px) {
  .navigation .buttonClose {
    display: none;
  }
}

.footer {
  background: #0f0f0f;
  color: #878787;
  font-size: 0.75rem;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .footer {
    position: relative;
  }
  .footer::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(151, 151, 151, 0.5);
  }
}
.footer__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
@media screen and (min-width: 768px) {
  .footer__inner {
    width: 768px;
    padding-left: 14px;
    padding-right: 14px;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__logo {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .footer__logo {
    width: 160px;
    height: 16px;
    margin-top: 25px;
  }
}
@media screen and (min-width: 768px) {
  .footer__logo {
    width: 180px;
    height: 18px;
    margin-top: 30px;
  }
}

.privacy {
  order: -1;
}
@media screen and (max-width: 767px) {
  .privacy {
    padding: 10px 18px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.5);
  }
}
@media screen and (min-width: 768px) {
  .privacy {
    padding: 18px 0;
  }
}
.privacy__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.privacy__link {
  display: block;
  padding: 2px 4px;
  margin: 4px;
}

.address {
  text-align: center;
  margin-top: 17px;
  line-height: 1.6;
}
.address__content {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 11px;
}
.address__content:first-child, .address__content:last-child {
  margin-right: 0;
}

.copyright {
  text-align: center;
  font-size: 0.6875rem;
  line-height: 1.6;
}
@media screen and (max-width: 767px) {
  .copyright {
    margin-top: 15px;
  }
}
@media screen and (min-width: 768px) {
  .copyright {
    margin-top: 20px;
  }
}

.banner {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .banner {
    padding: 42px 0 165px;
    background: #fff linear-gradient(#bae5fb 0%, #bae5fb 57.364341%, #fff 57.364341%, #fff 100%);
  }
}
@media screen and (min-width: 768px) {
  .banner {
    padding: 50px 0 260px;
    background: #fff linear-gradient(#bae5fb 0%, #bae5fb 50%, #fff 50%, #fff 100%);
  }
}
@media screen and (min-width: 768px) {
  .banner__inner {
    width: 768px;
    padding-left: 14px;
    padding-right: 14px;
    margin-left: auto;
    margin-right: auto;
  }
}
.banner__enSlogan {
  font-size: 1.5625rem;
  font-weight: 100;
}
.banner__enSlogan::after {
  content: "";
  display: block;
  width: 40px;
  border-top: 1px solid #000;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .banner__enSlogan::after {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .banner__enSlogan::after {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.banner__slogan {
  font-size: 0.875rem;
}
.banner .brandName {
  font-size: 1.9375rem;
  font-weight: 700;
  color: #24388d;
}
@media screen and (max-width: 767px) {
  .banner .brandName {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .banner .brandName::before {
    content: " ";
  }
}
.banner__list {
  position: relative;
}
.banner__item {
  position: absolute;
}
@media screen and (max-width: 767px) {
  .banner__item:first-child {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .banner__item:first-child {
    transform: translate(-54px, -115px);
  }
}
@media screen and (min-width: 768px) and (max-width: 940px) {
  .banner__item:first-child {
    transform: translate(0, -85px);
  }
}
@media screen and (max-width: 767px) {
  .banner__item:last-child {
    width: 225px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 768px) {
  .banner__item:last-child {
    right: 0;
    transform: translate(100px, 0);
  }
}
@media screen and (min-width: 768px) and (max-width: 940px) {
  .banner__item:last-child {
    transform: translate(20px, 50px);
  }
}
.banner__caption {
  position: absolute;
  text-align: right;
}
@media screen and (max-width: 767px) {
  .banner__caption {
    display: none;
  }
}
.banner__caption--bold {
  font-size: 1rem;
  font-weight: 700;
  color: #2c68ae;
}
.banner__caption--normal {
  font-size: 1rem;
  color: #72bde3;
}
.banner__enCaption {
  font-size: 0.75rem;
  color: #a7d1e7;
}

.banner__captionCheeseCookie {
  transform: translate(70px, 0);
}
.banner__captionChocoDouble {
  transform: translate(-78px, -143px);
}
.banner__captionRice {
  transform: translate(250px, -184px);
}
.banner__caption span {
  display: block;
}
.banner__img {
  animation: bounce 600ms ease-in-out infinite alternate;
}
.banner__item:last-child img {
  animation-delay: 400ms;
}
.banner .buttonGoMenu {
  position: relative;
  cursor: pointer;
  display: inline-block;
  z-index: 100;
  color: #24388d;
  border: 1px solid currentColor;
}
@media screen and (max-width: 767px) {
  .banner .buttonGoMenu {
    padding: 8px 18px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .banner .buttonGoMenu {
    padding: 8px 24px;
    margin-top: 30px;
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 768px) {
  .promotion {
    background: #f5f5f5;
  }
}
@media screen and (min-width: 768px) {
  .promotion__inner {
    width: 768px;
    padding-left: 14px;
    padding-right: 14px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    padding-top: 62px;
    padding-bottom: 63px;
  }
}
@media screen and (min-width: 768px) {
  .promotionYoutube {
    width: 365px;
    min-height: 205px;
    background: linear-gradient(137.4deg, #263d83 3.86%, #102457 100%);
  }
}
@media screen and (min-width: 768px) {
  .promotion__wrapper {
    width: 375px;
  }
}
.promotion__title {
  font-size: 0.9375rem;
  font-weight: 700;
  color: #fefefe;
}
.promotion__subTitle {
  font-weight: 700;
  color: #24388d;
}
.promotionNotice {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.promotionNotice__title {
  min-width: 125px;
  padding: 15px 0 0 15px;
  background: linear-gradient(137.4deg, #263d83 3.86%, #102457 100%);
  font-size: 0.9375rem;
  font-weight: 700;
  color: #fefefe;
}
.promotionNotice__section {
  flex-grow: 1;
  padding: 15px 20px 15px 15px;
  background: #fefefe;
}
.promotionNotice__subTitle {
  font-weight: 700;
  color: #24388d;
  margin: 0;
}
.promotionNotice__date {
  font-size: 0.6875rem;
  color: #878787;
}
.promotionNotice__brief {
  font-size: 0.8125rem;
  line-height: 1.5;
  color: #14182c;
  letter-spacing: -0.05em;
  margin: 10px 0 0 0;
}
.promotionNotice .buttonWrapper {
  position: absolute;
  bottom: 10px;
  left: 84px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.promotionNews {
  position: relative;
  background-color: #24388d;
  color: #fefefe;
  font-size: 0.8125rem;
  padding: 15px;
}
.promotionNews__title {
  font-weight: bold;
  margin: 0 0 15px 0;
  font-size: 0.9375rem;
  font-weight: 700;
  color: #fefefe;
}
.promotionNews__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 5px;
}
.promotionNews__item:first-child {
  margin-top: 0;
}
.promotionNews__headline {
  flex-grow: 1;
  margin-right: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.promotionNews__date {
  font-size: 0.75rem;
  min-width: 62px;
}
.promotionNews .svgLinkIconMore {
  position: absolute;
  top: 15px;
  right: 15px;
}

@media screen and (min-width: 768px) {
  .news {
    padding-top: 70px;
  }
}
@media screen and (max-width: 767px) {
  .news .tabUI__tabItem {
    width: 50%;
  }
}
.news__panel {
  display: none;
}
@media screen and (max-width: 767px) {
  .news__panel {
    padding: 20px 15px;
  }
}
@media screen and (min-width: 768px) {
  .news__panel {
    width: 710px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 15px;
    min-height: 740px;
  }
}
.news__panel.is--selected {
  display: block;
}
.news__title {
  margin-top: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  color: #24388d;
}
.news__title:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 16px;
  margin-right: 4px;
  background: url(../images/icon-news-headline.svg) no-repeat 0 0/100% 100%;
}
.news__description {
  font-size: 0.875rem;
  margin: 10px 0;
}

@media screen and (max-width: 767px) {
  .newsPress__search {
    margin: 25px 0 15px;
  }
}
@media screen and (min-width: 768px) {
  .newsPress__search {
    margin: 25px 0 20px;
  }
}
.newsPress__searchSelect {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
@media screen and (min-width: 768px) {
  .newsPress__searchSelect {
    width: 440px;
  }
}
.newsPress .select {
  width: 80px;
  border: 0;
}
.newsPress__searchKeyword {
  flex: 1 1 0;
  border-bottom: 1px solid currentColor;
}
.newsPress .buttonSearch {
  padding: 4px;
}

.newsAward {
  min-height: initial;
  padding-left: 0;
  padding-right: 0;
}
.newsAward__inner {
  background: #f5f5f5;
}
@media screen and (max-width: 767px) {
  .newsAward__inner {
    padding: 25px 15px 45px;
  }
}
@media screen and (min-width: 768px) {
  .newsAward__inner {
    width: 100vw;
    position: relative;
    left: 50%;
    width: 100vw;
    margin-left: -50vw;
    padding: 45px 0 80px;
    margin-top: 25px;
  }
}
@media screen and (max-width: 767px) {
  .newsAward .news__title,
.newsAward .news__description {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.newsAward__section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
@media screen and (min-width: 768px) {
  .newsAward__section {
    width: 710px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
.newsAward__section:last-child .newsAward__list {
  padding-bottom: 0;
}
.newsAward__year {
  font-weight: 700;
  color: #24388d;
  margin: -10px 25px 0 0;
}
.newsAward__list {
  position: relative;
  flex-grow: 1;
  padding-bottom: 40px;
  border-left: 1px solid #c8cde2;
}
.newsAward__list::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 5px;
  height: 5px;
  transform: translateX(-50%);
  background-color: #24388d;
  border-radius: 4px;
}
.newsAward__item {
  margin-bottom: 20px;
}
.newsAward__details {
  margin-top: -15px;
}
.newsAward__details[open] .icon::before {
  background-image: url(../images/icon-arrow-up.svg);
}
.newsAward__headline {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  position: relative;
  font-size: 0.8125rem;
  font-weight: 700;
  color: #0f0f0f;
  width: 100%;
  padding: 5px;
  list-style: none;
}
.newsAward__headline::marker {
  display: none;
}
.newsAward__headline::-webkit-details-marker {
  display: none;
  color: transparent;
}
.newsAward__headline .icon {
  margin-top: -5px;
  margin-left: auto;
  min-width: 24px;
  height: 24px;
}
.newsAward__headline b {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0 10px 0 5px;
}
.newsAward__thumbnail {
  margin-left: 35px;
  font-size: 0.75rem;
}
.newsAward__brief {
  margin: 10px 0 0 35px;
  font-size: 0.75rem;
}
.newsAward .roundBar {
  display: inline-block;
  background-color: #24388d;
  border-radius: 20px;
  color: #c8cde2;
  font-size: 0.8rem;
  padding: 4px 8px 2px;
  margin-right: 5px;
}
.newsAward__date {
  color: #5b6aa9;
  font-weight: 700;
  font-size: 0.6875rem;
}

.store {
  position: relative;
}
@media screen and (max-width: 767px) {
  .store {
    padding: 20px 18px;
  }
}
@media screen and (min-width: 768px) {
  .store {
    padding: 30px;
  }
}
.store__search {
  background: #fefefe;
  transform: scale(0);
  animation: transformNone 0.45s 0.8s cubic-bezier(0.18, 0.89, 0.32, 1.27) forwards;
}
@media screen and (min-width: 768px) {
  .store__search {
    position: fixed;
    top: 110px;
    right: 60px;
    width: 420px;
    z-index: 1;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.35);
  }
}
.store .tabUI__tabItem {
  width: 50%;
  font-size: 0.8125rem;
  padding: 0;
}
.store__panel {
  display: none;
}
.store__panel.is--selected {
  display: block;
}
.store .searchForm {
  border: 8px solid #24388d;
}
.store .buttonSearch {
  padding: 2px;
}
.store__item:first-child .card {
  border-bottom: 0;
}
.store .card {
  padding: 10px;
  border: 3px solid #f5f5f5;
}
.store .card__thumbnail {
  width: 45px;
  height: 45px;
}
@media screen and (max-width: 767px) {
  .store__map {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .beverage {
    width: 740px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) {
  .beverage__list {
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 768px) {
  .beverage__list {
    padding: 30px 0 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }
}
.beverage__item {
  position: relative;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .beverage__item {
    width: 360px;
  }
}
.beverage__button {
  display: block;
  background: #f5f5f5;
  color: grayscaleGray4;
}
.beverage__thumbnail {
  margin: 0;
  padding: 20px 0 40px;
  text-align: center;
}
.beverage__thumbnail img {
  transform: scale(0.85);
  transition: all 0.4s ease;
}
.beverage__thumbnail img:hover img {
  transform: none;
}
.beverage__detail {
  display: block !important;
  opacity: 1;
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #e0e0e0;
  padding: 30px 20px;
  background: rgba(255, 255, 255, 0.6);
  transition: all 0.6s ease;
}
.beverage__detail.is--active {
  opacity: 1;
}
.beverage__name {
  display: block;
  border-bottom: solid 2px #202023;
  padding-bottom: 10px;
  font-size: 1.125rem;
  color: #202023;
}
.beverage__enName {
  display: block;
  font-size: 0.875rem;
  color: #737373;
}
.beverage__description {
  margin: 10px 0;
  line-height: 1.4;
}
.beverage__ingredientList {
  line-height: 1.6;
  font-size: 0.8125rem;
  padding: 30px 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  column-count: 2;
  column-gap: 20px;
  column-fill: auto;
  column-rule: 1px solid #979797;
  background: #f5f5f5;
}
.beverage__ingredientItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.beverage .buttonClose {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 20px;
  height: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: all 0.3s ease;
  color: #000;
}
.beverage .buttonClose:hover {
  background: #f5f5f5;
}

.signin {
  flex: 1 1 0;
  color: #fefefe;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .signin {
    background-image: url(../images/coffee-mobile.jpg);
  }
}
@media screen and (min-width: 768px) {
  .signin {
    background-image: url(../images/coffee-desktop.jpg);
  }
}

.videoBgContainer {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #222;
}
.videoBgContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(51, 47, 43, 0.5) 0%, rgba(50, 46, 42, 0.1) 100%);
}
.videoBgContainer .video {
  /* IE 미지원 */
  object-fit: cover;
  object-position: center;
}

/*# sourceMappingURL=style.css.map */
