@charset "UTF-8";
@import "//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css";
/* 숨김 제목 및 콘텐츠 */
.a11y-hidden,
legend {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*! minireset.css v0.0.7 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
  font-size: 100%;
  font-family: inherit;
}

html {
  box-sizing: border-box;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

::-moz-selection {
  background: #24388d;
  color: #fff;
}

::selection {
  background: #24388d;
  color: #fff;
}

html {
  font-size: 62.25%;
}

body,
body *,
body::before,
body::after,
body *::before,
body *::after {
  box-sizing: border-box;
}

body * {
  -webkit-tap-highlight-color: rgba(255, 255, 200, 0.3);
  tap-highlight-color: rgba(255, 255, 200, 0.3);
}

body {
  font-family: "Spoqa Han Sans", "Sans-serif";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.15;
  background-color: #fff;
}

a img {
  vertical-align: middle;
}

:focus {
  outline: 0;
  border-radius: 2px;
  box-shadow: 0 0 0 2px rgba(33, 55, 120, 0.9);
}

a {
  color: inherit;
  text-decoration: none;
}

address, em {
  font-style: normal;
}

fieldset {
  border: 0;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
  }
}
@keyframes spinner {
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}
@keyframes transformNone {
  to {
    transform: none;
  }
}
.bodyContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  min-height: 100vh;
}
.bodyContainer .main {
  flex: 1 1 0;
}
.bodyContainer .footer {
  margin-top: auto;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}

.container {
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
}
.container__full {
  position: relative;
  left: 50%;
  width: 100vw;
  margin-left: -50vw;
}

.containerFluid {
  width: 100%;
}

.responsiveImg {
  max-width: 100%;
  height: auto;
}

.responsiveVideo,
.responsiveSvg {
  width: 100%;
  height: 100%;
}

.iframeWrapper {
  position: relative;
  width: 100%;
  height: 0 !important;
}

.iframe4-3 {
  padding-top: 75%;
}

.iframe16-9 {
  padding-top: 56.25%;
}

.iframe1-1 {
  padding-top: 100%;
}

.iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.colorPrimaryBlue {
  color: #24388d;
}

.colorAzure {
  color: #2c68ae;
}

.colorSeaGull {
  color: #72bde3;
}

.colorRegentStBlue {
  color: #a7d1e7;
}

.bgGrayscaleSnow {
  background-color: #f5f5f5;
}

@media screen and (max-width: 739px) {
  .bgHalf {
    background-image: linear-gradient(#bae5fb 0%, #bae5fb 57.364341%, #fff 57.364341%, #fff 100%);
  }
}
@media screen and (min-width: 740px) {
  .bgHalf {
    background: #fff linear-gradient(#bae5fb 0%, #bae5fb 50%, #fff 50%, #fff 100%);
  }
}

.textExtraSmall {
  font-size: 1.1rem;
}

.textSmall {
  font-size: 1.2rem;
}

.textMedium {
  font-size: 1.4rem;
}

.textLarge {
  font-size: 2.5rem;
}

.textExtraLarge {
  font-size: 3.1rem;
}

.weightThin {
  font-weight: 100;
}

.weightBold {
  font-weight: 700;
}

.boxShadow {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  user-select: none;
  background: transparent;
}
.buttonHamburger {
  padding: 18px;
  transition: all 0.3s ease;
}
.buttonHamburger .ir {
  display: block;
  cursor: pointer;
  width: 18px;
  height: 14px;
  background: url(../images/button-navigation.svg) no-repeat 50%;
}
.buttonClose {
  padding: 17px;
  color: #fff;
  transition: all 0.4s ease;
}
.buttonClose:hover {
  transform: scale(1.2);
}
.buttonClose .closeText {
  width: 16px;
  height: 16px;
  line-height: 1;
}
.buttonGoToTop {
  opacity: 0.7;
  position: fixed;
  z-index: 2000;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  border: 0;
  padding: 0;
  border-radius: 50%;
  background: transparent;
  transform: translateY(200px) scale(0);
  transition: all 0.8s 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}
.buttonGoToTop.is--active {
  transform: none;
}
.buttonGoToTop:hover, .buttonGoToTop:focus {
  opacity: 1;
}
.buttonGoMenu {
  display: inline-block;
  padding: 10px 18px 6px;
  font-size: 1.4rem;
  border: 1px solid #24388d;
  color: #24388d;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}
.buttonGoMenu:hover {
  background: #213778;
  color: #fff;
}

.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: 1px solid currentColor;
  padding: 0 8px;
}

.input {
  -webkit-appearance: none;
  display: block;
  padding: 16px 16px 0 0;
  width: 100%;
  height: 48px;
  border: 0;
  border-radius: 0;
  color: inherit;
  flex: 1 1 0;
  background: transparent no-repeat 100% 22px/16px 16px;
  margin-right: 8px;
}
.input::placeholder {
  color: #f5f5f5;
}
.input:-ms-input-placeholder {
  color: #f5f5f5;
}
.input::-ms-clear, .input::-ms-reveal {
  display: none;
}
.input:focus {
  box-shadow: none;
}
.input--valid {
  background-image: url(../images/icon-checked.svg);
}
.input--invalid {
  background-image: url(../images/icon-warning.svg);
}
.input--normal + .label {
  order: -1;
  font-size: 1.8rem;
}
.input:focus + .label, .input:not(.input--normal) + .label {
  position: absolute;
  transition: all 300ms;
}
.input:focus + .label, .input--focus + .label, .input--valid + .label, .input--invalid + .label {
  font-size: 1.3rem;
  transform: translate(0, -16px);
}

.errorMessage {
  display: none;
  font-size: 1.2rem;
  padding: 3px 0 3px 8px;
  position: absolute;
  left: 0;
  bottom: -25px;
}

.input--invalid + .errorMessage,
.input--invalid + .label + .errorMessage {
  display: block;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.button {
  position: relative;
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: 0;
}

.button--normal {
  font-size: 2rem;
  font-weight: 700;
  border-radius: 8px;
  text-align: center;
  display: block;
  width: 100%;
  height: 48px;
  line-height: 48px;
}

.button--stroke {
  opacity: 0.7;
  border: 1px solid #fefefe;
  color: #f5f5f5;
  background-color: transparent;
}
.button--stroke:hover, .button--stroke:focus {
  opacity: 1;
}

.button--fill {
  color: #24388d;
  background-color: #fefefe;
}

.icon--loading {
  cursor: not-allowed;
}
.icon--loading::after {
  content: "";
  position: absolute;
  width: 20px;
  min-height: 20px;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  background-image: url(../images/icon-arrow-loading.svg);
  transform-origin: center;
  animation: spinner 0.2s linear infinite;
}

.icon--arrowDarkBlue::after {
  content: "";
  position: absolute;
  width: 20px;
  min-height: 20px;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  background: url(../images/icon-arrow-darkblue.svg);
}

.icon--arrowWhite::after {
  content: "";
  position: absolute;
  width: 20px;
  min-height: 20px;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  background: url(../images/icon-arrow-white.svg);
}

.button--visible,
.button--hidden {
  align-self: flex-end;
  width: 16px;
  height: 16px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.button--visible {
  background-image: url(../images/icon-visible.svg);
}

.button--hidden {
  background-image: url(../images/icon-invisible.svg);
}

.is--disabled {
  cursor: not-allowed;
  opacity: 0.8;
}
.is--disabled::after {
  content: "";
  position: absolute;
  width: 20px;
  min-height: 20px;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
  background: url(../images/icon-arrow-disabled.svg);
}

.button--fill.is--disabled {
  background-color: #fefefe;
  color: #d2c9b6;
}

.button--stroke.is--disabled {
  border-color: #fefefe;
  color: #d2c9b6;
}

.checkboxWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.checkbox {
  opacity: 0;
  width: 16px;
  height: 16px;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.checkboxWrapper .label {
  user-select: none;
  cursor: pointer;
  margin-top: 4px;
  font-size: 1.2rem;
}

.icon--check {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 0;
  margin-top: 1px;
  margin-right: 4px;
  background: url(../images/icon-un-checked-square.svg) no-repeat 50% 50%;
}

.checkbox:checked + .icon--check {
  background-image: url(../images/icon-checked-square.svg);
}

.searchForm__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  height: 26px;
  position: relative;
  font-size: 1.4rem;
}
.searchForm__select {
  user-select: none;
  width: 80px;
  margin-right: 5px;
  border: 0;
  border-radius: 3px;
}
.searchForm__input {
  width: 100%;
  border: 0;
  padding: 6px;
  flex-grow: 1;
  height: 26px;
  border: 0;
}

.icon {
  position: relative;
  display: inline-block;
  width: inherit;
  height: inherit;
}
.icon::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.iconSearch::before {
  background: url(../../images/icon-search.svg) no-repeat 0 0/100% 100%;
}

.tabUI__tabList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.tabUI__tabItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-weight: 700;
  background: #f5f5f5;
  padding: 2px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 739px) {
  .tabUI__tabItem {
    width: 50%;
  }
}
@media screen and (min-width: 740px) {
  .tabUI__tabItem {
    width: initial;
  }
}
.tabUI__tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  padding: 15px 30px 11px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  white-space: nowrap;
  letter-spacing: -0.02em;
  color: #24388d;
  background: #fefefe;
}
.tabUI__tab[aria-selected=true] {
  color: #fefefe;
  background: #24388d;
}

.card {
  background: #fefefe;
}
.card::after {
  content: "";
  display: block;
  clear: both;
}
@media screen and (max-width: 739px) {
  .card__thumbnail {
    display: none;
  }
}
@media screen and (min-width: 740px) {
  .card__thumbnail {
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}
.card__content {
  margin: 0;
  line-height: 1.5;
}
.card__headline {
  color: #24388d;
  font-weight: 700;
}
@media screen and (max-width: 739px) {
  .card__headline {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 740px) {
  .card__headline {
    font-size: 1.5rem;
  }
}
.card__description {
  margin-top: 5px;
  margin-left: 0;
  color: #878787;
}
@media screen and (min-width: 740px) {
  .card__description {
    font-size: 1.3rem;
  }
}

.dataTable {
  width: 100%;
  border-top: 2px solid #24388d;
  border-bottom: 2px solid #24388d;
  border-collapse: collapse;
  border-spacing: 0;
  color: #24388d;
}
.dataTable th,
.dataTable td {
  border-bottom: 1px solid #919bc6;
}
.dataTable th {
  padding: 15px 5px;
  font-size: 1.4rem;
}
.dataTable td {
  padding: 15px;
  font-size: 1.2rem;
  vertical-align: baseline;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 18px 16px;
  margin: 12px auto 0;
}
.pagination .button {
  vertical-align: top;
  width: 20px;
  height: 20px;
  padding: 2px;
}
.pagination .button svg {
  width: 100%;
  height: 100%;
}
.pagination .button path,
.pagination .button [disabled] path {
  fill: #919bc6;
}
.pagination .button:hover path, .pagination .button:focus path {
  fill: #24388d;
}
.pagination__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-right: 30px;
  margin-left: 30px;
  font-size: 1.2rem;
}
.pagination__item {
  margin: 2px 5px 0;
}
.pagination [class~=_pagerNo] {
  color: #919bc6;
  padding: 0 3px;
}
.pagination [class~=_pagerNo]:hover, .pagination [class~=_pagerNo]:focus {
  color: #24388d;
}
.pagination [aria-current=page] {
  font-weight: 700;
  color: #24388d;
}

.header {
  padding: 2px 0;
  background: #fefefe;
  border: 0.5px solid #f5f5f5;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.header__logo {
  width: 176px;
  height: 50px;
}
@media screen and (min-width: 740px) {
  .header__logo {
    margin-left: -18px;
  }
}
.header__logo a {
  padding: 18px;
}
.header__logo a, .header__logo img {
  display: block;
}
@media screen and (min-width: 740px) {
  .header .buttonHamburger {
    display: none;
  }
}

@media screen and (max-width: 739px) {
  .navigation {
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 150vw;
    right: -150vw;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    padding-top: 60px;
    background: rgba(11, 18, 40, 0.9);
    color: #fefefe;
    transition: right 0.4s cubic-bezier(0.79, 0.14, 0.15, 0.86), left 0.4s cubic-bezier(0.79, 0.14, 0.15, 0.86);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }
}
@media screen and (max-width: 739px) {
  .navigation.is-active {
    left: 0;
    right: 0;
  }
}
@media screen and (max-width: 739px) {
  .navigation__list {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 740px) {
  .navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 739px) {
  .navigation__item {
    border-bottom: 1px solid rgba(33, 55, 120, 0.5);
  }
}
@media screen and (min-width: 740px) {
  .navigation__item {
    margin-left: 8px;
    font-size: 1.5rem;
    color: #24388d;
  }
}
.navigation__link {
  display: block;
}
@media screen and (max-width: 739px) {
  .navigation__link {
    padding: 12px 22px;
    transition: all 0.4s ease;
  }
}
@media screen and (max-width: 739px) {
  .navigation__link:hover, .navigation__link:focus {
    background: #22437c;
  }
}
@media screen and (min-width: 740px) {
  .navigation__link {
    padding: 8px;
  }
}
@media screen and (max-width: 739px) {
  .navigation .buttonClose {
    position: absolute;
    z-index: 10;
    top: 8px;
    right: 12px;
  }
}
@media screen and (min-width: 740px) {
  .navigation .buttonClose {
    display: none;
  }
}

.footer {
  background: #0f0f0f;
  color: #878787;
  font-size: 1.2rem;
  padding-bottom: 30px;
}
@media screen and (min-width: 740px) {
  .footer {
    position: relative;
  }
  .footer::before {
    content: "";
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(151, 151, 151, 0.5);
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.footer__logo {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 739px) {
  .footer__logo {
    width: 160px;
    height: 16px;
    margin-top: 25px;
  }
}
@media screen and (min-width: 740px) {
  .footer__logo {
    width: 180px;
    height: 18px;
    margin-top: 30px;
  }
}

.ediyaPrivacy {
  order: -1;
}
@media screen and (max-width: 739px) {
  .ediyaPrivacy {
    padding: 10px 18px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.5);
  }
}
@media screen and (min-width: 740px) {
  .ediyaPrivacy {
    padding: 20px 0;
  }
}
.ediyaPrivacy__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.ediyaPrivacy__link {
  display: block;
  padding: 2px 4px;
  margin: 4px;
}

.address {
  text-align: center;
  margin-top: 17px;
  line-height: 1.6;
}
.addressText {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 11px;
}
.addressText:first-child, .addressText:last-child {
  margin-right: 0;
}

.copyright {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.6;
}
@media screen and (max-width: 739px) {
  .copyright {
    margin-top: 15px;
  }
}
@media screen and (min-width: 740px) {
  .copyright {
    margin-top: 20px;
  }
}

.ediyaBanner {
  text-align: center;
}
@media screen and (max-width: 739px) {
  .ediyaBanner {
    padding: 42px 0 165px;
  }
}
@media screen and (min-width: 740px) {
  .ediyaBanner {
    padding: 50px 0 260px;
  }
}
.ediyaBanner__sloganEn::after {
  content: "";
  display: block;
  width: 40px;
  border-top: 1px solid #000;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 739px) {
  .ediyaBanner__sloganEn::after {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 740px) {
  .ediyaBanner__sloganEn::after {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 739px) {
  .ediyaBanner .brandName {
    display: block;
  }
}
@media screen and (min-width: 740px) {
  .ediyaBanner .brandName::before {
    content: " ";
  }
}
.ediyaBanner__list {
  position: relative;
}
.ediyaBanner__item {
  position: absolute;
}
@media screen and (max-width: 739px) {
  .ediyaBanner__item:first-child {
    display: none;
  }
}
@media screen and (min-width: 740px) {
  .ediyaBanner__item:first-child {
    transform: translate(-54px, -115px);
  }
}
@media screen and (min-width: 740px) and (max-width: 940px) {
  .ediyaBanner__item:first-child {
    transform: translate(0, -85px);
  }
}
@media screen and (max-width: 739px) {
  .ediyaBanner__item:last-child {
    width: 225px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 740px) {
  .ediyaBanner__item:last-child {
    right: 0;
    transform: translate(100px, 0);
  }
}
@media screen and (min-width: 740px) and (max-width: 940px) {
  .ediyaBanner__item:last-child {
    transform: translate(0, 50px);
  }
}
.ediyaBanner__caption {
  position: absolute;
  text-align: right;
}
@media screen and (max-width: 739px) {
  .ediyaBanner__caption {
    display: none;
  }
}
.ediyaBanner__captionCheeseCookie {
  transform: translate(70px, 0);
}
.ediyaBanner__captionChocoDouble {
  transform: translate(-78px, -143px);
}
.ediyaBanner__captionRice {
  transform: translate(250px, -184px);
}
.ediyaBanner__caption span {
  display: block;
}
.ediyaBanner__img {
  animation: bounce 600ms ease-in-out infinite alternate;
}
.ediyaBanner__item:last-child img {
  animation-delay: 400ms;
}
.ediyaBanner .buttonGoMenu {
  position: relative;
  z-index: 100;
}
@media screen and (max-width: 739px) {
  .ediyaBanner .buttonGoMenu {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 740px) {
  .ediyaBanner .buttonGoMenu {
    margin-top: 30px;
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 740px) {
  .promotion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    padding-top: 62px;
    padding-bottom: 63px;
  }
}
@media screen and (min-width: 740px) {
  .promotion__wrapper:first-child {
    width: 385px;
  }
}
@media screen and (min-width: 740px) {
  .promotion__wrapper:last-child {
    width: 375px;
  }
}

@media screen and (min-width: 740px) {
  .ediyaYoutube .iframeWrapper {
    padding-top: 57%;
  }
}

.ediyaNotice {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.ediyaNotice__title {
  min-width: 125px;
  font-weight: 700;
  color: #fefefe;
  padding: 15px 0 0 15px;
  margin: 0;
  background: linear-gradient(137.4deg, #263d83 3.86%, #102457 100%);
}
.ediyaNotice__section {
  flex-grow: 1;
  padding: 16px 20px 16px 15px;
  background: #fefefe;
}
.ediyaNotice__subTitle {
  font-weight: 700;
  color: #24388d;
  margin: 0;
}
.ediyaNotice__date {
  font-size: 1.2rem;
  color: #878787;
}
.ediyaNotice__brief {
  font-size: 1.3rem;
  line-height: 1.5;
  color: #14182c;
  letter-spacing: -0.05em;
  margin: 10px 0 0 0;
}
.ediyaNotice .buttonWrapper {
  position: absolute;
  bottom: 10px;
  left: 84px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}

.ediyaNews {
  position: relative;
  background-color: #24388d;
  color: #fefefe;
  font-size: 1.3rem;
  padding: 15px;
}
.ediyaNews__title {
  font-weight: bold;
  margin: 0 0 15px 0;
}
.ediyaNews__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 5px;
}
.ediyaNews__item:first-child {
  margin-top: 0;
}
.ediyaNews__headline {
  flex-grow: 1;
  margin-right: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ediyaNews__date {
  min-width: 62px;
  font-size: 1.2rem;
}
.ediyaNews .icon {
  position: absolute;
  top: 15px;
  right: 15px;
}

@media screen and (min-width: 740px) {
  .news {
    padding-top: 70px;
  }
}
.news__panel {
  display: none;
  padding: 40px 15px;
}
@media screen and (min-width: 740px) {
  .news__panel {
    min-height: 740px;
  }
}
.news__panel.is--selected {
  display: block;
}
.news__title {
  font-size: 2rem;
  font-weight: 700;
  color: #24388d;
}
.news__title:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 16px;
  margin-right: 4px;
  background: url(../images/icon-news-headline.svg) no-repeat 0 0/100% 100%;
}
.news__description {
  font-size: 1.4rem;
  margin: 10px 0;
}

.news .searchForm__wrapper {
  position: relative;
  margin: 20px 0;
}
@media screen and (min-width: 740px) {
  .news .searchForm__wrapper {
    margin-left: auto;
    width: 440px;
  }
}
.news .inputButtonGroup {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: 1px solid #0f0f0f;
}
.news .buttonSearch {
  width: 16px;
  height: 16px;
}

.awardWrapper {
  background: #f5f5f5;
  margin-top: 25px;
}
@media screen and (max-width: 739px) {
  .awardWrapper {
    padding: 25px 15px 45px;
  }
}
@media screen and (min-width: 740px) {
  .awardWrapper {
    padding: 45px 0 80px;
  }
}

@media screen and (min-width: 740px) {
  .newsAward {
    min-height: initial;
    padding-bottom: 0;
  }
}

.award {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
@media screen and (min-width: 740px) {
  .award {
    width: 710px;
    margin-left: auto;
    margin-right: auto;
  }
}
.award:last-child .award__list {
  padding-bottom: 0;
}
.award__year {
  font-weight: 700;
  color: #24388d;
  margin: -10px 25px 0 0;
}
.award__list {
  position: relative;
  flex-grow: 1;
  padding-bottom: 40px;
  border-left: 1px solid #c8cde2;
}
.award__list::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 5px;
  height: 5px;
  transform: translateX(-50%);
  background-color: #24388d;
  border-radius: 4px;
}
.award__item {
  margin-bottom: 20px;
}
.award__details {
  margin-top: -15px;
}
.award__details[open] .award__headline::after {
  background-image: url(../images/icon-arrow-up.svg);
}
.award__headline {
  position: relative;
  font-size: 1.3rem;
  font-weight: 700;
  color: #0f0f0f;
  width: 100%;
  padding: 5px 25px 5px 5px;
  list-style: none;
}
.award__headline::marker {
  display: none;
}
.award__headline::-webkit-details-marker {
  display: none;
  color: transparent;
}
.award__headline::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background: url(../images/icon-arrow-down.svg) no-repeat 0 0/100% 100%;
}
.award__headline b {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 10px 0 5px;
}
.award__thumbnail {
  margin-left: 35px;
  font-size: 1.2rem;
}
.award__brief {
  margin: 10px 0 0 35px;
  font-size: 1.2rem;
}
.award .roundBar {
  display: inline-block;
  background-color: #24388d;
  border-radius: 20px;
  color: #c8cde2;
  font-size: 0.8rem;
  padding: 4px 8px 2px;
  margin-right: 5px;
}
.award__date {
  color: #5b6aa9;
  font-weight: 700;
  font-size: 1.1rem;
}

.store {
  position: relative;
}
@media screen and (max-width: 739px) {
  .store {
    padding: 20px 18px;
  }
}
@media screen and (min-width: 740px) {
  .store {
    padding: 30px;
  }
}
.store__search {
  background: #fefefe;
  transform: scale(0);
  animation: transformNone 0.45s 0.8s cubic-bezier(0.18, 0.89, 0.32, 1.27) forwards;
}
@media screen and (min-width: 740px) {
  .store__search {
    position: fixed;
    top: 110px;
    right: 60px;
    width: 420px;
    z-index: 1;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.35);
  }
}
.store .tabUI__tabItem {
  width: 50%;
  font-size: 1.3rem;
  padding: 0;
}
.store__panel {
  display: none;
}
.store__panel.is--selected {
  display: block;
}
.store .searchForm {
  border: 8px solid #24388d;
}
.store__item:first-child .card {
  border-bottom: 0;
}
.store .card {
  padding: 10px;
  border: 3px solid #f5f5f5;
}
.store .card__thumbnail {
  width: 45px;
  height: 45px;
}
@media screen and (max-width: 739px) {
  .store__map {
    margin-top: 20px;
  }
}

@media screen and (max-width: 739px) {
  .beverage__list {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 740px) {
  .beverage__list {
    padding: 30px 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
  }
}
.beverage__item {
  position: relative;
  margin-bottom: 20px;
}
@media screen and (min-width: 740px) {
  .beverage__item {
    width: 360px;
  }
}
.beverage__item:last-child {
  margin-bottom: 0;
}
.beverage__button {
  display: block;
  background: #f5f5f5;
  color: grayscaleGray4;
}
.beverage__thumbnail {
  margin: 0;
  padding: 20px 0 40px;
  text-align: center;
}
.beverage__thumbnail img {
  transform: scale(0.85);
  transition: all 0.4s ease;
}
.beverage__thumbnail img:hover img {
  transform: none;
}
.beverage__detail {
  opacity: 0;
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #e0e0e0;
  padding: 30px 20px;
  background: rgba(255, 255, 255, 0.6);
  transition: all 0.6s ease;
}
.beverage__detail.is--active {
  opacity: 1;
}
.beverage__name {
  display: block;
  border-bottom: solid 2px #202023;
  padding-bottom: 10px;
  font-size: 1.8rem;
  color: #202023;
}
.beverage__enName {
  display: block;
  font-size: 1.4rem;
  color: #737373;
}
.beverage__description {
  margin: 10px 0;
  line-height: 1.4;
}
.beverage__ingredientList {
  line-height: 1.6;
  font-size: 1.3rem;
  padding: 30px 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  column-count: 2;
  column-gap: 20px;
  column-fill: auto;
  column-rule: 1px solid #979797;
  background: #f5f5f5;
}
.beverage__ingredientItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.beverage .buttonClose {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 20px;
  height: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: all 0.3s ease;
  color: #000;
}
.beverage .buttonClose:hover {
  background: #f5f5f5;
}

.member {
  color: #fefefe;
}
@media screen and (min-width: 740px) {
  .member {
    margin: 0 auto;
    width: 540px;
  }
}
.member__title, .member__enDescription, .member__description {
  line-height: 1.5;
  text-align: center;
}
.member__title {
  font-weight: 100;
  font-size: 3.6rem;
  margin: 50px 0 24px;
}
.member__enDescription {
  font-size: 1.8rem;
}
.member__description {
  font-size: 1.2rem;
}
.member .inputWrapper {
  border-width: 2px;
}
@media screen and (max-width: 739px) {
  .member .inputWrapper {
    margin-top: 52px;
  }
}
@media screen and (min-width: 740px) {
  .member .inputWrapper {
    margin-top: 42px;
  }
}
.member .checkboxWrapper {
  margin-top: 15px;
}
@media screen and (max-width: 739px) {
  .member .buttonWrapper {
    margin-top: 133px;
  }
}
@media screen and (min-width: 740px) {
  .member .buttonWrapper {
    margin-top: 70px;
  }
}
@media screen and (max-width: 739px) {
  .member .buttonWrapper .button {
    width: 100%;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 740px) {
  .member .buttonWrapper .button {
    width: 260px;
  }
}

.login {
  flex: 1 1 0;
  color: #fefefe;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
@media screen and (max-width: 739px) {
  .login {
    background-image: url(../images/coffee-mobile.jpg);
  }
}
@media screen and (min-width: 740px) {
  .login {
    background-image: url(../images/coffee-desktop.jpg);
  }
}

.videoBgContainer {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #222;
}
.videoBgContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(51, 47, 43, 0.5) 0%, rgba(50, 46, 42, 0.1) 100%);
}
.videoBgContainer .video {
  /* IE 미지원 */
  object-fit: cover;
  object-position: center;
}

/*# sourceMappingURL=style.css.map */
