@charset "UTF-8";
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp, pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * Known issues:
 * - `select`:
 *   By default, Chrome on OS X and Safari on OS X allow very limited styling of
 *   select, unless a border property is set. The default font weight on
 *   optgroup elements cannot safely be changed in Chrome on OSX and Safari on
 *   OS X.
 * - `[type="checkbox"]`:
 *   It is recommended that you do not style checkbox and radio inputs as
 *   Firefox's implementation does not respect box-sizing, padding, or width.
 * - `[type="number"]`:
 *   Certain font size values applied to number inputs cause the cursor style of
 *   the decrement button to change from `default` to `text`.
 * - `[type="search"]`:
 *   The search input is not fully stylable by default. In Chrome and Safari on
 *   OSX/iOS you can't control `font`, `padding`, `border`, or `background`. In
 *   Chrome and Safari on Windows you can't control `border` properly. It will
 *   apply `border-width` but will only show a border color (which cannot be
 *   controlled) for the outer 1px of that border. Applying
 *   `-webkit-appearance: textfield` addresses these issues without removing the
 *   benefits of search inputs (e.g. showing past searches). Safari (but not
 *   Chrome) will clip the cancel button on when it has padding (and `textfield`
 *   appearance).
 * - `::placeholder`:
 *   In Edge, placeholders will disappear on `relative` or `absolute` positioned
 *   `<input>` elements if you use `opacity` less than `1` due to a
 *   [bug](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/3901363/).
 */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  line-height: 1.15;
  /* 1 */
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/**
 * Copyright (c) 2015 Spoqa, Inc.
 *
 * Permission is hereby granted, free of charge, to any person obtaining
 * a copy of this software and associated documentation files (the
 * "Software"), to deal in the Software without restriction, including
 * without limitation the rights to use, copy, modify, merge, publish,
 * distribute, sublicense, and/or sell copies of the Software, and to
 * permit persons to whom the Software is furnished to do so, subject to
 * the following conditions:
 *
 * The above copyright notice and this permission notice shall be
 * included in all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 * NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
 * LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
 * OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
 * WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */
@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 700;
  font-display: swap;
  src: local("Spoqa Han Sans Bold"), url("../fonts/SpoqaHanSansBold.woff2") format("woff2"), url("../fonts/SpoqaHanSans/SpoqaHanSansBold.woff") format("woff");
}
@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 400;
  font-display: swap;
  src: local("Spoqa Han Sans Regular"), url("../fonts/SpoqaHanSansRegular.woff2") format("woff2"), url("../fonts/SpoqaHanSansRegular.woff") format("woff");
}
@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 300;
  font-display: swap;
  src: local("Spoqa Han Sans Light"), url("../fonts/SpoqaHanSansLight.woff2") format("woff2"), url("../fonts/SpoqaHanSansLight.woff") format("woff");
}
@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 100;
  font-display: swap;
  src: local("Spoqa Han Sans Thin"), url("../fonts/SpoqaHanSansThin.woff2") format("woff2"), url("../fonts/SpoqaHanSansThin.woff") format("woff");
}
.a11yHidden {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* 반응형 이미지(비트맵) ------------------------------------------------------------- */
/* 반응형 미디어(벡터, 비디오, iframe) ------------------------------------------------- */
/* 반응형 iframe ------------------------------------------------- */
html {
  font-size: 16px;
  overflow-y: visible;
}

body,
body::before,
body::after,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

body * {
  -webkit-tap-highlight-color: rgba(255, 255, 200, 0.3);
  tap-highlight-color: rgba(255, 255, 200, 0.3);
}

[class] {
  margin: 0;
}

body {
  font-family: "Spoqa Han Sans", "Sans-serif";
  font-size: inherit;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: inherit;
}

ul, ol {
  padding-left: 0;
  list-style: none;
}

img {
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

address, em {
  font-style: normal;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

legend {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

button {
  cursor: pointer;
}

.buttonNone {
  border: 0;
  padding: 0;
  background: transparent;
}

.icon {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
}
.icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.iconBurger::before {
  background-image: url(./../images/button-navigation.svg);
}
.iconClose::before {
  content: "×";
}
.iconVisible::before {
  background-image: url(../images/icon-visible.svg);
}
.iconInVisible::before {
  background-image: url(../images/icon-invisible.svg);
}
.iconCheckedSquare::before {
  background-image: url(../images/icon-checked-square.svg);
}
.iconUncheckedSquare::before {
  background-image: url(../images/icon-unchecked-square.svg);
}
.iconChecked::before {
  background-image: url(../images/icon-checked.svg);
}
.iconWarning::before {
  background-image: url(../images/icon-warning.svg);
}
.iconArrowUp::before {
  background-image: url(../images/icon-arrow-up.svg);
}
.iconArrowDown::before {
  background-image: url(../images/icon-arrow-down.svg);
}
.iconArrowDarkBlue::before {
  background-image: url(../images/icon-arrow-darkblue.svg);
}
.iconArrowWhite::before {
  background-image: url(../images/icon-arrow-white.svg);
}

@media screen and (min-width: 768px) {
  .membership {
    width: 540px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
.membership__title, .membership__enDescription, .membership__description {
  line-height: 1.5;
  text-align: center;
}
.membership__title {
  font-weight: 100;
  font-size: 2.25rem;
  margin: 3.125em 0 1.5em;
}
.membership__enDescription {
  font-size: 1.125rem;
}
.membership__description {
  font-size: 0.75rem;
}
@media screen and (max-width: 767px) {
  .membership__email, .membership__password, .membership__passwordConfirm {
    margin-top: 52px;
  }
}
@media screen and (min-width: 768px) {
  .membership__email, .membership__password, .membership__passwordConfirm {
    margin-top: 42px;
  }
}
.membership__email .formControl, .membership__password .formControl, .membership__passwordConfirm .formControl {
  border-bottom: 2px solid #fefefe;
}
.membership__email .formControl:focus-within, .membership__password .formControl:focus-within, .membership__passwordConfirm .formControl:focus-within {
  box-shadow: 0 1px 0 0 currentColor, 0 2px 0 0 currentColor;
}

.ediya {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  min-height: 100vh;
}
.main {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}

.footer {
  margin-top: auto;
}

.header {
  padding: 2px 0;
  background: #fefefe;
  border: 1px solid #f5f5f5;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 200;
}
.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
@media screen and (min-width: 768px) {
  .header__inner {
    width: 740px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
.header__logo {
  width: 176px;
}
@media screen and (max-width: 767px) {
  .header__logo {
    width: 46.9333333333%;
    max-width: 176px;
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    position: relative;
    left: 1.125em;
  }
}
.header__logo a {
  display: block;
  padding: 1.125em;
}
.header__logo a:focus {
  outline: 0;
  border-radius: 2px;
  box-shadow: 0 0 0 2px rgba(91, 106, 169, 0.8);
}
.header__logo a:focus:not(:focus-visible) {
  box-shadow: none;
}
.header__logo img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .header .buttonBurger {
    padding: 1.0625em;
  }
}
@media screen and (min-width: 768px) {
  .header .buttonBurger {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 150vw;
    right: -150vw;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    padding-top: 60px;
    background: rgba(11, 18, 40, 0.9);
    color: #fefefe;
    transition: right 0.4s cubic-bezier(0.79, 0.14, 0.15, 0.86), left 0.4s cubic-bezier(0.79, 0.14, 0.15, 0.86);
    backdrop-filter: blur(2px);
  }
}
@media screen and (max-width: 767px) {
  .navigation.is--active {
    left: 0;
    right: 0;
  }
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 767px) {
  .navigation__item {
    border-bottom: 1px solid rgba(33, 55, 120, 0.5);
  }
}
@media screen and (min-width: 768px) {
  .navigation__item {
    margin-left: 0.5em;
    color: #24388d;
  }
}
.navigation__link {
  display: block;
}
.navigation__link:focus {
  outline: 0;
  border-radius: 2px;
  box-shadow: 0 0 0 2px rgba(91, 106, 169, 0.8);
}
.navigation__link:focus:not(:focus-visible) {
  box-shadow: none;
}
@media screen and (max-width: 767px) {
  .navigation__link {
    font-size: 0.875rem;
    padding: 0.8571428571em 1.5714285714em;
    transition: all 0.4s ease;
  }
}
@media screen and (max-width: 767px) {
  .navigation__link:hover, .navigation__link:focus {
    background: #22437c;
  }
}
@media screen and (min-width: 768px) {
  .navigation__link {
    font-size: 0.9375rem;
    padding: 0.5333333333em;
  }
}
@media screen and (max-width: 767px) {
  .navigation .buttonClose {
    color: #fff;
    position: absolute;
    z-index: 10;
    top: 8px;
    right: 12px;
    padding: 0.5555555556em;
    font-size: 1.125rem;
    line-height: 1;
    transition: all 0.4s ease;
  }
  .navigation .buttonClose:focus {
    outline: 0;
    border-radius: 2px;
    box-shadow: 0 0 0 2px rgba(91, 106, 169, 0.8);
  }
  .navigation .buttonClose:focus:not(:focus-visible) {
    box-shadow: none;
  }
  .navigation .buttonClose:hover {
    transform: scale(1.2);
  }
}
@media screen and (min-width: 768px) {
  .navigation .buttonClose {
    display: none;
  }
}

.footer {
  background: #0f0f0f;
  color: #878787;
  font-size: 0.75rem;
  padding-bottom: 2.5em;
  text-align: center;
}
.footer__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.footer__logo {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .footer__logo {
    width: 160px;
    margin-top: 1.5625em;
  }
}
@media screen and (min-width: 768px) {
  .footer__logo {
    width: 180px;
    margin-top: 1.875em;
  }
}
.footer__logo img {
  width: 100%;
  height: auto;
}
.footer .privacy {
  order: -1;
  border-bottom: 1px solid rgba(151, 151, 151, 0.5);
}
@media screen and (max-width: 767px) {
  .footer .privacy {
    padding: 0.625em 1.125em;
  }
}
@media screen and (min-width: 768px) {
  .footer .privacy {
    padding: 1.125em 0;
  }
}
.footer .privacy__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .footer .privacy__list {
    justify-content: flex-start;
  }
}
.footer .privacy__link {
  display: block;
  padding: 0.125em 0.25em;
  margin: 0.25em;
}
.footer .privacy__link:focus {
  outline: 0;
  border-radius: 2px;
  box-shadow: 0 0 0 2px rgba(91, 106, 169, 0.8);
}
.footer .privacy__link:focus:not(:focus-visible) {
  box-shadow: none;
}
.footer .address {
  margin-top: 1.0625em;
  line-height: 1.6;
}
.footer .address__content {
  display: inline-block;
  margin-bottom: 0.3125em;
  margin-right: 0.6875em;
}
.footer .address__content:last-child {
  margin-right: 0;
}
.footer .copyright {
  font-size: 0.6875rem;
  line-height: 1.6;
}
@media screen and (max-width: 767px) {
  .footer .copyright {
    margin-top: 1.3636363636em;
  }
}
@media screen and (min-width: 768px) {
  .footer .copyright {
    margin-top: 1.8181818182em;
  }
}

@media screen and (min-width: 768px) {
  .promotion {
    background: #f5f5f5;
  }
}
@media screen and (min-width: 768px) {
  .promotion__inner {
    width: 768px;
    padding-left: 14px;
    padding-right: 14px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    padding-top: 3.75em;
    padding-bottom: 3.75em;
  }
}
.promotionYoutube .iframeWrapper {
  position: relative;
  width: 100%;
  height: 0 i !important;
  padding-top: 56.25%;
}
.promotionYoutube .iframeWrapper iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .promotionYoutube {
    width: 365px;
    min-height: 205px;
    background: linear-gradient(137.4deg, #263d83 3.86%, #102457 100%);
  }
}
@media screen and (min-width: 768px) {
  .promotion__wrapper {
    width: 375px;
  }
}
.promotionNotice {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.promotionNotice__title {
  min-width: 125px;
  padding: 0.9375em 0 0 15;
  background: linear-gradient(137.4deg, #263d83 3.86%, #102457 100%);
  font-size: 0.9375rem;
  font-weight: 700;
  color: #fefefe;
}
.promotionNotice__section {
  flex-grow: 1;
  padding: 15px 20px 15px 15px;
  background: #fefefe;
}
.promotionNotice__subTitle {
  font-weight: 700;
  color: #24388d;
  margin: 0;
}
.promotionNotice__date {
  font-size: 0.6875rem;
  color: #878787;
}
.promotionNotice__brief {
  font-size: 0.8125rem;
  line-height: 1.5;
  color: #14182c;
  letter-spacing: -0.05em;
  margin: 10px 0 0 0;
}
.promotionNotice .buttonWrapper {
  position: absolute;
  bottom: 10px;
  left: 84px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}

.signin {
  flex: 1 1 0;
  color: #fefefe;
  padding: 1.25em;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
@media screen and (max-width: 767px) {
  .signin {
    background-image: url(../images/coffee-mobile.jpg);
  }
}
@media screen and (min-width: 768px) {
  .signin {
    background-image: url(../images/coffee-desktop.jpg);
  }
}

/*# sourceMappingURL=style.css.map */
