@use './../config/' as *;
@use './../container/' as *;
// ------ 이디야 홈(메인 페이지) ------//
.home{
  &__inner{
    @include containerFull;
    &::first-child{
      background: getColor(primaryBlue);
    }
    &::last-child{
      background: getColor(white);
    }
  }
}
// ------ 이디야 배너 시작 ------//
.ediyaBanner{
  @include containerFixed(740px);
  text-align: center;

  @include mobile{
    padding: 42px 0 165px;
  }
  @include desktop{
    padding: 50px 0 260px;
  }

  // ------ 이디야 배너 영문 슬로건 및 구분선 시작 ------//
  &__sloganEn{
    &::after{
      content: "";
      display: block;
      width: 40px;
      border-top: 1px solid getColor(black);
      @include autoMargin;

      @include mobile{
        margin-top: 15px;
        margin-bottom: 15px;
      }
      @include desktop{
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }
  // ------ 이디야 배너 영문 슬로건 및 구분선 종료 ------//

  // ------ 이디야 배너 영문 슬로건 강조 영역 (<em class="brandName">EDIYA COFFEE</em>) 시작 ------//
  .brandName{
    @include mobile{
      display: block;
    }
    @include desktop{
      &::before{
        content: " ";
      }
    }
  }
  // ------ 이디야 배너 영문 슬로건 강조 영역 (<em class="brandName">EDIYA COFFEE</em>) 종료 ------//

  // ------ 이디야 배녀 음료 목록 시작 ------//
  &__list{
    position: relative;
  }
  &__item{
    position: absolute;

    &:first-child{
      @include mobile{
        display: none;
      }
      @include desktop{
        transform: translate(-54px, -115px);
      }
      // 데스크탑 음료 배치 시 740 영역을 벗어나는 이슈를 해결하기 위해 임의로 지정한 Breakpoint
      @include tabletOnly{
        transform: translate(0, -85px);
      }
    }

    &:last-child{
      @include mobile{
        width: 225px;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
      }
      @include desktop{
        right: 0;
        transform: translate(100px, 0);
      }
      // 데스크탑 음료 배치 시 740 영역을 벗어나는 이슈를 해결하기 위해 임의로 지정한 Breakpoint
      @include tabletOnly{
        transform: translate(0, 50px);
      }
    }
  }
  
  // ------ 이디야 배녀 음료 캡션시작 ------//
  &__caption{
    position: absolute;
    text-align: right;

    @include mobile{
      display: none;
    }

    &CheeseCookie{
      transform: translate(70px, 0);
    }

    &ChocoDouble{
      transform: translate(-78px, -143px);
    }

    &Rice{
      // transform: translate(0, -54px);
      // 디자인 시안과 다른 위치로 수정
      transform: translate(250px, -184px);
    }

    span{
      display: block;
    }
  }
  // ------ 이디야 배녀 음료 캡션 종료 ------//

  // ------ 이디야 배녀 음료 이미지 애니메이션 시작 ------//
  &__img {
    animation: bounce 600ms ease-in-out infinite alternate;
  }

  // 이디야 추천 쉐이크 음료 이미지 (두 이미지 간의 delay를 지정)
  &__item:last-child img {
    animation-delay: 400ms;
  }
  // ------ 이디야 배녀 음료 이미지 애니메이션 종료 ------//
  // ------ 이디야 배녀 음료 목록 종료 ------//

  // ------ 이디야 배너 메뉴 보기 버튼 시작 ------//
  .buttonGoMenu{
    position: relative;
    z-index: 100;

    @include mobile{
      margin-top: 15px;
      margin-bottom: 20px;
    }
    @include desktop{
      margin-top: 30px;
      margin-bottom: 35px;
    }
  }
  // ------ 이디야 배너 메뉴 보기 버튼 종료 ------//
}
// ------ 이디야 배너 종료 ------//

// ------ 프로모션 (유튜브, 공지사항, 뉴스) 시작------//
.promotion{
  @include containerFixed(740px);
  @include desktop{
    @include flexbox(row, center);
    padding-top: 62px;
    padding-bottom: 63px;
  }
  
  &__wrapper:first-child{
    @include desktop{
      width: 385px;
    }
  }
  &__wrapper:last-child{
    @include desktop{
      width: 375px;
    }
  }
}
// ------ 프로모션 (유튜브, 공지사항, 뉴스) 종료------//

// ------ 이디야 홈 유튜브 비디오 시작------//
.ediyaYoutube{
  .iframeWrapper{
    @include desktop{
      // 디자인 시안에서 발생한 오차로 인한 수정 
      padding-top: 57%;
    }
  }
}
// ------ 이디야 홈 유튜브 종료------//

// ------ 이디야 홈 공지사항 시작------//
.ediyaNotice{
  position: relative;
  @include flexbox;

  &__title{
    min-width: 125px;
    font-weight: 700;
    color: getColor(grayscaleWhite);
    padding: 15px 0 0 15px;
    margin: 0;
    background: linear-gradient(137.4deg, getColor(primaryBlue8) 3.86%, getColor(primaryBlue9) 100%);
  }
  
  &__section{
    flex-grow: 1;
    padding: 16px 20px 16px 15px;
    background: getColor(grayscaleWhite);
  }
  
  &__subTitle{
    font-weight: 700;
    color: getColor(primaryBlue);
    margin: 0;
  }

  &__date{
    font-size: 1.2rem;
    color: getColor(grayscaleGray);
  }

  &__brief{
    font-size: 1.3rem;
    line-height: 1.5;
    color: getColor(grayscaleBlack);
    letter-spacing: -0.05em;
    margin: 10px 0 0 0;
  }

  .buttonWrapper{
    position: absolute;
    bottom: 10px;
    left: 84px;
    @include flexbox;
  }
}
// ------ 이디야 홈 공지사항 종료------//

// ------ 이디야 홈 뉴스 시작------//
.ediyaNews{
  position: relative;
  background-color: getColor(primaryBlue);
  color: getColor(grayscaleWhite);
  font-size: 1.3rem;
  padding: 15px;

  &__title{
    font-weight: bold;
    margin: 0 0 15px 0;
  }

  &__list{

  }

  &__item{
    @include flexbox(row, flex-start, center, nowrap);
    margin-top: 5px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__headline{
    flex-grow: 1;
    margin-right: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__date{
    min-width: 62px;
    font-size: 1.2rem;
  }

  .icon{
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
// ------ 이디야 홈 뉴스 종료------//

// ------  ------//