// ------ 이디야 소식 (News) ------//
.news{
  @include desktop{
    padding-top: 70px;
  }
  // ------ 이디야 뉴스 섹션 패널 시작 ------//
  &__panel{
    // 섹션 패널은 보이지 않도록 기본 설정
    display: none;
    padding: 40px 15px;
    
    // 데스크탑 환경에서 섹션 패널의 최소 높이 설정
    @include desktop{
      min-height: 740px;
    }

    // 선택 된 tab과 연결된 tabPanel에 is--selected 클래스가 적용된 경우 보이도록 설정
    &.is--selected {
      display: block;
    }
  }
  // ------ 이디야 뉴스 섹션 패널 종료 ------//

  // ------ 이디야 뉴스 섹션 제목 시작 ------//
  &__title{
    font-size: 2rem;
    font-weight: 700;
    color: $primaryBlue;

    &:before{
      content: "";
      display: inline-block;
      width: 8px;
      height: 16px;
      margin-right: 4px;
      background: url(../images/icon-news-headline.svg) no-repeat 0 0 / 100% 100%;
    }
  }
  // ------ 이디야 뉴스 섹션 제목 종료 ------//

  // ------ 이디야 뉴스 섹션 설명 시작 ------//
  &__description{
    font-size: 1.4rem;
    margin: 10px 0;
  }
  // ------ 이디야 뉴스 섹션 설명 종료 ------//
}

// ------ 언론 속 이디야 (NewsPress) 시작------//
.news{
  // ------ 언론 속 이디야 (NewsPress) 검색 폼 배치 시작------//
  .searchForm__wrapper{
    position: relative;
    margin: 20px 0;

    @include desktop{
      margin-left: auto;
      width: 440px;
    }
  }
  // ------ 언론 속 이디야 (NewsPress) 검색 폼 배치 종료------//

  // ------ 언론 속 이디야 (NewsPress) 검색 입력서식, 버튼 그룹 배치 및 스타일 시작 ------//
  .inputButtonGroup{
    flex-grow: 1;
    @include flexbox(row, flex-start, center, nowrap);
    border-bottom: 1px solid $grayscaleBlack;
  }
  // ------ 언론 속 이디야 (NewsPress) 검색 입력서식, 버튼 그룹 배치 및 스타일 종료 ------//

  // ------ 언론 속 이디야 (NewsPress) 검색 버튼 배치 시작------//
  .buttonSearch {
    width: 16px;
    height: 16px;
  }
  // ------ 언론 속 이디야 (NewsPress) 검색 버튼 배치 시작------//
}
// ------ 언론 속 이디야 (NewsPress) 종료------//

// ------ 언론 속 이디야 수상 내역 Wrapper 시작------//
.awardWrapper{
  // 마크업에 배경 관련 클래스로 지정할 수도 있음.
  background: $grayscaleSnow;
  margin-top: 25px;

  @include mobile{
    padding: 25px 15px 45px;
  }
  @include desktop{
    padding: 45px 0 80px;
  }
}
// ------ 언론 속 이디야 수상 내역 Wrapper 종료------//

// ------ 언론 속 이디야 수상 내역 (NewsAward) 시작------//
.newsAward{
  // .news__panel에 설정 된 최소 높이 및 아래쪽 여백 제거
  @include desktop{
    min-height: initial;
    padding-bottom: 0;
  }
}
.award{
  @include flexbox;

  @include desktop{
    // .awardWrapper 영역 안에서 award 섹션을 가운데 배치하기 위한 코드
     width: 710px;
     @include autoMargin;
  }
  
  &:last-child {
    .award__list{
      padding-bottom: 0;
    }
  }

  // ------ 언론 속 이디야 연도 시작------//
  &__year{
    font-weight: 700;
    color: $primaryBlue;
    margin: -10px 25px 0 0;
  }
  // ------ 언론 속 이디야 연도 종료------//

  // ------ 언론 속 이디야 수상내역 목록 시작------//
  &__list{
    position: relative;
    flex-grow: 1;
    padding-bottom: 40px;
    border-left: 1px solid $primaryBlue4;

    &::before{
      content: "";
      position: absolute;
      top: -5px;
      left: 0;
      width: 5px;
      height: 5px;
      transform: translateX(-50%);
      background-color: $primaryBlue;
      border-radius: 4px;
    }
  }
  // ------ 언론 속 이디야 수상내역 목록 종료------//

  // ------ 언론 속 이디야 수상내역 아이템 시작------//
  &__item{
    margin-bottom: 20px;
  }
  // ------ 언론 속 이디야 수상내역 아이템 종료------//

  // ------ 언론 속 이디야 수상내역 details 영역 시작------//
  &__details{
    margin-top: -15px;
  }

  &__details[open]{
    .award__headline::after{
      background-image: url(../images/icon-arrow-up.svg);
    }
  }
  // ------ 언론 속 이디야 수상내역 details 영역 종료------// 

  // ------ 언론 속 이디야 수상내역 summary 영역 시작------//
  // 미션! - 모바일 디바이스에서 제목이 여러줄 이 될 경우 그리드가 맞지 않는 이슈 해결해 보기
  &__headline{
    position: relative;
    font-size: 1.3rem;
    font-weight: 700;
    color: $grayscaleBlack;
    width: 100%;
    padding: 5px 25px 5px 5px;
    // summary 요소의 기본 marker를 없애기 위해 선언
    list-style: none;
    
    // 브라우저 호환성 확인 필요 (IE1, Opera, Safari 등 지원하지 않음)
    &::marker {
      display: none;
    }
    &::-webkit-details-marker {
      display: none;
      color: transparent;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 24px;
      height: 24px;
      background: url(../images/icon-arrow-down.svg) no-repeat 0 0 / 100% 100%;
    }
    b {
      font-size: 1.2rem;
      font-weight: 400;
      margin: 0 10px 0 5px;
    }
  }
  // ------ 언론 속 이디야 수상내역 summary 영역 종료------//

  // ------ 언론 속 이디야 수상내역 썸네일 이미지 시작------//
  &__thumbnail{
    margin-left: 35px;
    font-size: 1.2rem;
  }
  // ------ 언론 속 이디야 수상내역 썸네일 이미지 종료------//

  // ------ 언론 속 이디야 수상내역 요약 정보 시작------//
  &__brief{
    margin: 10px 0 0 35px;
    font-size: 1.2rem;
  }
  // ------ 언론 속 이디야 수상내역 요약 정보 종료------//

  // ------ 언론 속 이디야 수상일 라운드 박스 시작------//
  // 시안 수치와 조금 다르게 설정 함.
  // 별도의 스타일 또는 컴포넌트로 분리할 수도 있음.
  .roundBar{
    display: inline-block;
    background-color: $primaryBlue;
    border-radius: 20px;
    color: $primaryBlue4;
    font-size: 0.8rem;
    padding: 4px 8px 2px;
    margin-right: 5px;
  }
  // ------ 언론 속 이디야 수상일 라운드 박스 종료------//

  // ------ 언론 속 이디야 수상일 시작------//
  &__date{
    color: $primaryBlue2;
    font-weight: 700;
    font-size: 1.1rem;
  }
  // ------ 언론 속 이디야 수상일 종료------//
}
// ------ 언론 속 이디야 수상 내역 (NewsAward) 종료------//