// 버튼 시작 ----------------------------------------------------------------- /
.button {
  position: relative;
  text-align: center;
  font-size: rem(20px);
  font-weight: 700;
  border: 0;
  border-radius: 8px;
  width: 100%;
  padding: 14px 20px 11px;

  &None {
    border: 0;
    padding: 0;
    background: transparent;
  }
  
  // 기본 버튼 --------------------------------------------------------------------- /
  &Primary{
    background: $grayscaleWhite;
    color: $primaryBlue;

    &.is--disabled{
      background: $grayscaleSnow;
      color: $accentAmber;
      .icon::before{
        background-image: url(../images/icon-arrow-amber.svg);
      }
    }
  }
  // 아웃라인 버튼 ------------------------------------------------------------------- /
  &Outline{
    color: $grayscaleSnow;
    border: 1px solid $grayscaleWhite;
    background: transparent;

     &.is--disabled{
      border-color: $accentAmber;
      color: $accentAmber;
      .icon::before{
        background-image: url(../images/icon-arrow-amber.svg);
      }
    }
  }
}
// 버튼 종료 ----------------------------------------------------------------- /
