// 버튼 시작 ----------------------------------------------------------------- /
<<<<<<< HEAD
.button{
    &None{
        border: 0;
        padding: 0;
        background: transparent;
    }
}
=======

>>>>>>> 2145a6c421f87f4de4234b2f648dca3837aa0492
// 버튼 종료 ----------------------------------------------------------------- /
