<!DOCTYPE html>
<html lang="ko-KR">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>음료- 이디야 커피(Ediya Coffee)</title>
    <meta name="description" content="이디야 커피 브랜드 사이트 (학습용) 홈페이지입니다." />
    <meta name="keywords" content="이디야, 커피, 브랜드, 사이트, 학습용, 홈페이지, 이듬, 블렌디드 러닝" />
    <meta name="author" content="이듬(E.UID)" />
    <!-- 스타일링 -->
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon" />
  </head>

  <body>
    <div class="videoBgContainer" role="presentation">
      <!-- 
          Object Fit, Position 폴리필 라이브러리 사용법
          https://github.com/constancecchen/object-fit-polyfill#usage
          
          data-object-fit, data-object-position 속성 설정
      -->
      <video class="video responsiveVideo"
             src="../media/coffee-latte-art.mp4"
             poster="../media/coffee-latte-art-cover.png"
             preload="auto" autoplay muted loop
             data-object-fit="cover"
             data-object-position="center">
      </video>
    </div>
    <div class="bodyContainer">
      <header class="header">
        <div class="container header__inner">
          <h1 class="header__logo">
            <a href="../index.html"><img src="../images/brand.svg" alt="Ediya Coffee" class="responsiveImg" /></a>
          </h1>
          <button type="button" class="button buttonHamburger" aria-label="메뉴 열기" title="메뉴 열기">
            <span class="ir"></span>
          </button>
          <nav class="navigation">
            <h2 class="a11y-hidden">메인 메뉴</h2>
            <ul class="navigation__list">
              <li class="navigation__item"><a class="navigation__link" href="./login.html">로그인</a></li>
              <li class="navigation__item"><a class="navigation__link" href="./signup.html">회원 가입</a></li>
              <li class="navigation__item"><a class="navigation__link" href="./ui-design.html">이디야 디자인</a></li>
              <li class="navigation__item"><a class="navigation__link" href="./beverages.html">이디야 음료</a></li>
              <li class="navigation__item"><a class="navigation__link is--selected" href="./news.html">이디야 뉴스</a></li>
              <li class="navigation__item"><a class="navigation__link" href="./store.html">매장 찾기</a></li>
            </ul>
            <button type="button" class="button buttonClose" title="메뉴 닫기" aria-label="메뉴 닫기">
              <span class="closeText" aria-hidden="true">×</span>
            </button>
          </nav>
        </div>
      </header>
      <main class="main">
        <div class="container signup">
          <section class="member">
            <h2 class="member__title">회원가입</h2>
            <p class="member__enDescription" lang="en">Join Us, Ediya Coffee</p>
            <p class="member__description">이디야멤버스 가입을 진행합니다.</p>
            <form action="#" method="POST" class="memberForm">
              <fieldset>
                <legend>회원가입 폼</legend>
                <div class="member__email inputWrapper">
                  <!-- aria-invalid 속성은 1.2에서 global 속성에서 widget 계열의 역할에만 사용되도록 범위가 축소 되었음. -->
                  <input class="input input--normal" type="email" id="userEmail" name="userEmail" aria-required="true" aria-invalid="false" aria-describedby="emailErrorFeedback" />
                  <label class="label" for="userEmail">이메일</label>
                  <span role="alert" id="emailErrorFeedback" class="errorMessage">이메일 입력 방법이 잘못되었습니다. (예: user@domain.io)</span>
                </div>
                <div class="member__password inputWrapper">
                  <input class="input input--valid" type="password" id="userPassword" name="userPassword" aria-required="true" aria-invalid="false" aria-describedby="passwordErrorFeedback" />
                  <label class="label" for="userPassword">패스워드</label>
                  <span role="alert" id="passwordErrorFeedback" class="errorMessage">패스워드는 숫자, 영어 조합 6자 이상 입력해야 합니다.</span>

                  <!-- visible, invisible 상태에 따라 aria-label이 변경되도록 자바스크립트 설정이 필요함 -->
                  <button type="button" class="button buttonPassword button--visible" aria-label="패스워드 보기"><span class="ir"></span></button>
                </div>

                <!-- 패스워드 확인의 경우 기존 패스워드와 일치하는지 여부를 검증하기 위한 자바스크립트가 필요함. -->
                <div class="member__password inputWrapper">
                  <input class="input input--invalid" type="password" id="userPasswordAgain" name="userPassword" aria-required="true" aria-invalid="false" aria-describedby="passwordErrorFeedbackAgain" />
                  <label class="label" for="userPasswordAgain">패스워드 확인</label>
                  <span role="alert" id="passwordErrorFeedbackAgain" class="errorMessage">패스워드가 일치하지 않습니다.</span>

                  <!-- visible, invisible 상태에 따라 aria-label이 변경되도록 자바스크립트 설정이 필요함 -->
                  <button type="button" class="button buttonPassword button--hidden" aria-label="패스워드 보기"><span class="ir"></span></button>
                </div>

                <div class="buttonWrapper">
                  <!-- a 요소를 사용할 경우 disable 상태에 대한 처리 고민 ? -->
                  <button type="submit" class="button buttonSignup button--normal button--fill icon--loading">가입하기</button>
                  <button type="submit" class="button buttonLogin button--normal button--stroke icon--arrowWhite is--disabled" disabled="disabled">로그인</button>
                </div>
              </fieldset>
            </form>
          </section>
        </div>
      </main>
      <footer class="footer">
        <div class="container footer__container">
          <div class="footer__logo logo-mono">
            <img src="../images/brand-dark.svg" alt="EDIYA COFFEE" />
          </div>
          <div class="ediyaPrivacy">
            <ul class="ediyaPrivacy__list">
              <li class="ediyaPrivacy__item"><a class="ediyaPrivacy__link" href="#">개인정보처리방침</a></li>
              <li class="ediyaPrivacy__item"><a class="ediyaPrivacy__link" href="#">멤버스 이용약관</a></li>
              <li class="ediyaPrivacy__item"><a class="ediyaPrivacy__link" href="#">가맹 안내</a></li>
              <li class="ediyaPrivacy__item"><a class="ediyaPrivacy__link" href="#">대량쿠폰구매</a></li>
              <li class="ediyaPrivacy__item"><a class="ediyaPrivacy__link" href="#">채용안내</a></li>
              <li class="ediyaPrivacy__item"><a class="ediyaPrivacy__link" href="#">고객의 소리</a></li>
              <li class="ediyaPrivacy__item"><a class="ediyaPrivacy__link" href="#">사이트맵</a></li>
              <li class="ediyaPrivacy__item"><a class="ediyaPrivacy__link" href="#">점주의 방</a></li>
            </ul>
          </div>
          <address class="address">
            <span class="addressText">서울특별시 강남구 논현로 636 이디야빌딩(서울특별시 강남구 논현동 221-17)</span>
            <span class="addressText"><b>TEL : </b>02-543-6467</span>
            <span class="addressText"><b>FAX : </b>02-543-7191</span>
            <span class="addressText"><b>사업자등록번호 : </b>107-86-16302</span>
            <span class="addressText"><b>통신판매업 신고 : </b>강남 제 002519호</span>
            <span class="addressText"><b>대표이사 : </b>문창기</span>
          </address>
          <small class="copyright">&copy; 2017 EDIYA COFFEE COMPANY. ALL RIGHTS RESERVED..</small>
        </div>
      </footer>
    </div>
  </body>

</html>