// ------ 헤더 ------//
.header{
  padding: 2px 0;
  background: $grayscaleWhite;
  border: 0.5px solid $grayscaleSnow;
  box-shadow: 0px 1px 1px rgba($black, 0.1);

  @include sticky;
  z-index: 100;

  &__inner{
    @include desktop{
      @include containerFixed(740px);
    }
    @include flexbox(row, space-between, center);
  }
  // ------ 헤더 로고 시작 ------//
  &__logo{
    width: 176px;
    height: 50px;

    @include desktop{
      margin-left: -18px;
    }

    a{
      padding: 18px;
    }
    a, img{
      display: block;
    }
  }
  // ------ 헤더 로고 종료 ------//

  // ------ 햄버거 버튼 시작 ------//
  .buttonHamburger{
    @include desktop{
      display: none;
    }
  }
  // ------ 햄버거 버튼 종료 ------//
}

// ------ 내비게이션  ------//
.navigation{
  @include mobile{
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 150vw;
    right: -150vw;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    padding-top: 60px;
    background: $grayscaleDarkGray2;
    color: $grayscaleWhite;
    transition: right 0.4s cubic-bezier(0.79, 0.14, 0.15, 0.86),
      left 0.4s cubic-bezier(0.79, 0.14, 0.15, 0.86);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }
  &.is-active{
    @include mobile{
      left: 0;
      right: 0;
    }
  }

  // ------ GNB 시작 ------//
  &__list{
    @include mobile{
      font-size: 1.4rem;
    }
    @include desktop{
      @include flexbox;
      font-size: 1.5rem;
    }
  }

  &__item{
    @include mobile{
      border-bottom: 1px solid rgba($primaryBlue5, 0.5);
    }

    @include desktop{
      margin-left: 8px;
      font-size: 1.5rem;
      color: $primaryBlue;
    }
  }

  &__link{
    display: block;

    @include mobile{
      padding: 12px 22px;
      transition: all 0.4s ease;
    }
    &:hover, 
    &:focus{
      @include mobile{
        background: $primaryBlue6;
      }
    }

    @include desktop{
      padding: 8px;
    }
  }
  // ------ GNB 종료------//

  // ------ 내비게이션 닫기 버튼 시작------//
  .buttonClose{
    @include mobile{
      position: absolute;
      z-index: 10;
      top: 8px;
      right: 12px;
    }

    @include desktop{
      display: none;
    }
  }
  // ------ 내비게이션 닫기 버튼 종료 ------//
}