// ------ 반응형 디자인 ------//
.button{
  cursor: pointer;
  border: 0;
  padding: 0;
  user-select: none;
  background: transparent;
  
  // ------ 메인 메뉴 열기 버튼(햄버거 버튼) ------//
  &Hamburger{
    padding: 18px;
    transition: all 0.3s ease;
    .ir {
      display: block;
      cursor: pointer;
      width: 18px;
      height: 14px;
      background: url(../images/button-navigation.svg) no-repeat 50%;
    }
  }

  // ------ 닫기 번튼 ------// 
  &Close{
    padding: 17px;
    color: $white;
    transition: all 0.4s ease;

    &:hover{
      transform: scale(1.2);
    }

    .closeText{
      width: 16px;
      height: 16px;
      line-height: 1;
    }
  }

  // ------ 처음으로 이동하기 버튼 ------//
  &GoToTop {
    opacity: 0.7;
    position: fixed;
    z-index: 2000;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    border: 0;
    padding: 0;
    border-radius: 50%;
    background: transparent;
    transform: translateY(200px) scale(0);
    transition: all 0.8s 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    
    &.is--active {
      transform: none;
    }
  
    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  // ------ 메뉴 보기 버튼 ------//
  &GoMenu{
    display: inline-block;
    padding: 10px 18px 6px;
    font-size: 1.4rem;
    border: 1px solid $primaryBlue;
    color: $primaryBlue;
    font-weight: 700;
    transition: all 0.2s ease-in-out;

    &:hover{
      background: $primaryBlue5;
      color: $white;
    }
  }
}