// ------ 글자 및 배경 색상 ------//
.colorPrimaryBlue{
  color: $primaryBlue;
}
.colorAzure{
  color: $primaryBlue7;
}
.colorSeaGull{
  color: $secondaryLightBlue5;
}
.colorRegentStBlue{
  color: $secondaryLightBlue6;
}
.bgGrayscaleSnow{
  background-color: $grayscaleSnow;
}
.bgHalf{
  @include mobile{
    background-image: linear-gradient($secondaryLightBlue 0%, $secondaryLightBlue 57.364341%, $white 57.364341%, $white 100%);
  }
  @include desktop{
    background: $white linear-gradient($secondaryLightBlue 0%, $secondaryLightBlue 50%, $white 50%, $white 100%);
  }
}

// ------ 글자 크기 ------//
.textExtraSmall{
  font-size: 1.1rem;
}
.textSmall{
  font-size: 1.2rem;
}
.textMedium{
  font-size: 1.4rem;
}
.textLarge{
  font-size: 2.5rem;
}
.textExtraLarge{
  font-size: 3.1rem;
}
.weightThin{
  font-weight: 100;
}
.weightBold{
  font-weight: 700;
}

// ------ 그림자 ------//
.boxShadow{
  box-shadow: 0px 1px 1px rgba($black, 0.1);
}