// 이디야 매장 찾기 (Store) 시작 ------------------------------------------------------ /
.store{
  position: relative;
  @include mobile{
    padding: 20px 18px;
  }
  @include desktop{
    padding: 30px;
  }

  // 이디야 매장 검색 (탭UI, 검색폼, 검색결과 영역을 포함하는 그룹) ------------------------------------ /
  &__search{
    background: $grayscaleWhite;
    transform: scale(0);
    animation: transformNone 0.45s 0.8s cubic-bezier(0.18, 0.89, 0.32, 1.27) forwards;

    // 데스크탑의 경우 뷰포트 기준 오른쪽 상단, 지도 위쪽에 배치되도록 설정
    @include desktop{
      position: fixed;
      top: 110px;
      right: 60px;
      width: 420px;
      z-index: 1;
      box-shadow: 3px 5px 10px rgba($black, 0.35);
    }
  }

// 이디야 매장 검색을 위한 탭 UI 시작 ----------------------------------------------------- /
  .tabUI__tabItem{
    width: 50%;
    font-size: rem(13px);
    padding: 0;
  }

  // 이디야 매장 검색을 위한 검색폼 패널 ------------------------------------------------------ /
  &__panel{
    display: none;
    border: 8px solid $primaryBlue;

    // 점포명 또는 주소명 검색 폼 중 .is--selected가 설정된 검색 폼만 보여지도록 설정
    &.is--selected{
      display: block;
    }
  }

  // 이디야 매장 검색폼 ---------------------------------------------------------------- /
  &__searchWrapper{
    align-items: center;
  }
  .input{
    outline: 0;
    height: 36px;
    padding-left: 15px;
  }
  
  // 검색 버튼
  .buttonSearch{
    @include focusVisible;
    padding: 2px;
  }

  // 이디야 매장 검색 결과(.store__searchResult) 내 .card 스타일 재정의 ------------------------ /
  &__item:first-child{
    .card{
      border-bottom: 0;
    }
  }

  .card{
    padding: 10px;
    border: 3px solid $grayscaleSnow;

    &__thumbnail{
      width: 45px;
      height: 45px;
    }
  }

  // 이디야 매장 지도(iframe 관련 컴포넌트) ------------------------------------------------- /
  &__map{
    @include mobile{
      margin-top: 20px;
    }
  }
}
// 이디야 매장 찾기 (Store) 종료 ------------------------------------------------------ /