/* 숨김 제목 및 콘텐츠 */
.a11yHidden,
legend {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  // clip-path 속성의 경우 polygon 및 inset 함수 중 하나만 사용하면 됨
  clip-path: polygon(0 0, 0 0, 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}