// ------ 로그인 시작 ------//
.login{
  // 로그인 페이지의 main 영역에 full Background 처리를 위해 설정
  flex: 1 1 0;
  
  color: $grayscaleWhite;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  @include mobile{
    background-image: url(../images/coffee-mobile.jpg);
  }
  @include desktop{
    background-image: url(../images/coffee-desktop.jpg);
  }
}
// ------ 로그인 종료 ------//